<mat-toolbar color="primary">
  Админка - Добавление Магазинов
</mat-toolbar>

<div class="form-container">
  <form [formGroup]="shopForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Название магазина</mat-label>
      <input matInput [formControl]="shopForm.controls.name" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Владелец(id)</mat-label>
      <input matInput [formControl]="shopForm.controls.ownerId" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ссылка на изображение</mat-label>
      <input matInput [formControl]="shopForm.controls.image" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Описание магазина</mat-label>
      <textarea matInput [formControl]="shopForm.controls.description" required></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="shopForm.invalid" (click)="onSubmit()">Добавить магазин</button>
  </form>
</div>

<mat-grid-list cols="2" rowHeight="2:1" class="content">
  <mat-grid-tile *ngFor="let shop of shops" class="custom-grid-tile">
    <div class="shop-item">
      <div class="shop-name">{{shop.name}}</div>
      <img class="shop-image" [src]="shop.image" alt="">
      <div class="shop-description">{{shop.description}}</div>
      <button mat-button color="warn" class="shop-delete-button" (click)="deleteShop(shop.id!)">Удалить</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
