<main>
    <header class="app-header">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>store</mat-icon>
              <span>Магазины</span>
            </button>
            <button mat-menu-item>
              <mat-icon>shopping_basket</mat-icon>
              <span>Товары</span>
            </button>
            <button mat-menu-item>
              <mat-icon>account_circle</mat-icon>
              <span>Профиль</span>
            </button>
          </mat-menu>
          
        <div class="header-logo">Logo</div>
        <div class="header-auth">Auth</div>


    </header>
    <mat-grid-list cols="1" rowHeight="4:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>    
</main>
