<main class="main-container">
  
  <header class="app-header">
    <a [routerLink]="['/shop-list']" class="header-logo">LOGO</a>
    <a class="header-auth" [routerLink]="['/auth']">Авторизация/Регистрация</a>
  </header>
  
  <div class="sidebar">
    <button mat-button [matMenuTriggerFor]="shopsMenu" class="custom-button">Магазины</button>
    <button mat-button [matMenuTriggerFor]="productMenu" class="custom-shop">Товары</button>
    <button mat-button [matMenuTriggerFor]="profile" class="custom-profile">Профиль</button>

    <mat-menu #profile="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="admin">Админ</button>
      <button mat-menu-item>Пользователь</button>
    </mat-menu>

    <mat-menu #admin="matMenu"> 
      <a  mat-menu-item  [routerLink]="['/shop-admin']">Магазины</a>
      <a  mat-menu-item  [routerLink]="['/product-admin']">Товары</a>
    </mat-menu>

    <mat-menu #productMenu="matMenu">
      <button  mat-menu-item *ngFor="let category of categories" (click)="loadProductsByCategory(category)">
        {{ category }}
      </button>
    </mat-menu>

    <mat-menu #shopsMenu="matMenu">
      <button  mat-menu-item *ngFor="let shop of shops" (click)="viewProducts(shop.id)">
        {{ shop.name }}
      </button>
    </mat-menu>

  </div>

  <mat-grid-list cols="2" rowHeight="2:1" class="content">
    <router-outlet></router-outlet>
  </mat-grid-list>

 
  
  <footer class="footer">
    Футер со всякой инфой
  </footer>
</main>
