<mat-grid-list cols="2" rowHeight="2:1" class="content">
    <mat-grid-tile class="custom-grid-tile">
      <div class="shop-item">
        <div class="shop-name">Aliexpress</div>
        <img class="shop-image" src="" alt="Картинка">
        <div class="shop-description">Описание</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="custom-grid-tile">
      <div class="shop-item">
        <div class="shop-name">Ozon</div>
        <img class="shop-image" src="" alt="Картинка">
        <div class="shop-description">Описание</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="custom-grid-tile">
      <div class="shop-item">
        <div class="shop-name">WB</div>
        <img class="shop-image" src="" alt="Картинка">
        <div class="shop-description">Описание</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="custom-grid-tile">
      <div class="shop-item">
        <div class="shop-name">KazanExpress</div>
        <img class="shop-image" src="" alt="Картинка">
        <div class="shop-description">Описание</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list> 