
.content {
  grid-area: content;
  padding: 0.5rem 0.5rem;
}

.product-grid {
  background: #f5f5f5;
  grid-area: content;
  gap: 1rem;
  padding: 0.5rem;
  overflow-y: auto;
}

.custom-grid-tile {
  background: #B2EBF2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-item {
  text-align: center;
  width:100%;
  padding: 0.5rem; 
}

.product-name {
  margin-top: 0.5rem;
  font-weight: bold;
}

.product-image {
  width: 100%;
  height: auto;
  margin: 0.5rem 0;
}

.product-description {
  margin-bottom: 0.5rem;
}

.product-price {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.buy-button {
  background-color: #4CAF50;
  color: white;
}

.footer {
  grid-area: footer;
  background: #4A0072;
  color: white;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 600px) {
  .main-container {
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
  }

  .sidebar {
    flex-direction: row;
    justify-content: space-around;
  }

  .menu-button {
    display: none;
  }
}
