<mat-toolbar color="primary">
    Админка - Добавление Товаров
</mat-toolbar>
  
  <div class="form-container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Название товара</mat-label>
        <input matInput [formControl]="productForm.controls.name" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Магазин(Название)</mat-label>
        <textarea matInput [formControl]="productForm.controls.shopName" required></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Категория</mat-label>
        <textarea matInput [formControl]="productForm.controls.category" required></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Ссылка на изображение</mat-label>
        <input matInput [formControl]="productForm.controls.image" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Описание товара</mat-label>
        <textarea matInput [formControl]="productForm.controls.description" required></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Цена</mat-label>
        <textarea matInput [formControl]="productForm.controls.price" required></textarea>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Добавить продукт</button>
    </form>
  </div>
  
  <mat-grid-list cols="3" rowHeight="2:1" class="content">
    <mat-grid-tile *ngFor="let product of products" class="custom-grid-tile">
      <div class="product-item">
        <div class="product-name">{{product.name}}</div>
        <img class="product-image" [src]="product.image" alt="">
        <div class="product-description">{{product.description}}</div>
        <button mat-button color="warn" class="product-delete-button" (click)="deleteProduct(product.id!)">Удалить</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  